@import "tailwindcss";
/* การเขียน css จะมีผลกับทุกหน้า */

/* font sarabun-regular */
@font-face {
    font-family: 'Sarabun';
    src: url('@/assets/fonts/Sarabun/Sarabun-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
/* font sarabun-medium */
@font-face {
    font-family: 'Sarabun';
    src: url('@/assets/fonts/Sarabun/Sarabun-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
/* font sarabun-bold */
@font-face {
    font-family: 'Sarabun';
    src: url('@/assets/fonts/Sarabun/Sarabun-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}



@theme {
    /* Font */
    --font-sarabun: 'Sarabun', sans-serif;
}